{% extends "_base.html" %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block content %}
<div class="container text-center">
  <div class="row">
        <div class="text center">
            <p class="fs-1">Welcome to MercuReporter</p>
            <p class="fs-3">Your fleet data hub</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
             <div class="text center">
            <div class="card" style="width: 25rem; height: 12rem;">
                <div class="card-body">
                    <h5 class="card-title">Fleet Owners</h5>

                    <p class="card-text">- Create your fleet by adding vehicles
                                     <br>- Aggregate fleet data from different sources
                                     <br>- Monitor your fleet(s)</p>
                    <a href="#" class="card-link">Learn More</a>
                </div>
            </div>
        </div>
        </div>
        <div class="col">
             <div class="text center">
            <div class="card" style="width: 25rem; height: 12rem;">
                <div class="card-body">
                    <h5 class="card-title">Fleet Supervisors</h5>

                    <p class="card-text">- Monitor your fleet by:
                                     <br>- Managing vehicles, drivers, transactions, etc...
                                     <br>- Accessing detailed reports</p>

                    <a href="#" class="card-link">Learn More</a>
                </div>
            </div>
        </div>
        </div>
        <div class="col">
             <div class="text center">
            <div class="card" style="width: 25rem; height: 12rem;">
                <div class="card-body">
                    <h5 class="card-title">Drivers</h5>

                    <p class="card-text">- Manage your vehicle
                                     <br>- View and add fuel transactions
                                     <br>- Manage traffic fines
                                     <br>- Conduct vehicle maintenance</p>

                    <a href="#" class="card-link">Learn More</a>
                </div>
            </div>
        </div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col">
            <p>Already have an account?</p>
            <div class="d-grid gap-2">
                <a href="{% url 'login' %}" class="btn btn-primary" type="button">Login</a>
            </div>
        </div>
         <div class="col">
             <p> New user?</p>
            <div class="d-grid gap-2">
                <a href="{% url 'register' %}" class="btn btn-secondary" type="button">Sign Up</a>
            </div>
        </div>
    </div>



</div>

{% endblock content %}




